.btn {
    
    border: 1px solid transparent;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
    
}

.btn:hover {
    background-color: #fff;
    color: black;
}

.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.active{
    background-color: #fff;
    color: black;
}
.tag-line{
    margin: 1vh;
    position: relative;
    left: 20%;
    font-family: 'Dancing Script', cursive;
}